body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
  }

/*Header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2E948A;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav{
    display: flex;
    list-style: none;
    padding: 0px 60px 0px 0px;
}

.header > .nav > li{
    padding: 0px 40px 0px 0px;
}

.header > .nav > li > a{
    text-decoration: none;
    color: #FDFDFD;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

#img-header{
    padding: 15px 0px 15px 20px;
}

/*Section-1*/

.section-1{
    display: flex;
    padding: 50px 0px 20px 80px;
}

#h1-section-1{
    font-size: 60px;
    font-weight: 700;
    line-height: 69px;
    color: #FF4081;
}

#p1-section-1{
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
    padding: 0px 0px 10px 0px;
}

#p2-section-1{
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    box-sizing: border-box;
    padding: 5px 7px 5px 7px;
    width: 250px;
}

#img-section-1{
    padding: 70px 0px 0px 200px;
}

/*Section-2*/

.section-2{
    display: flex;
    padding: 80px 60px 80px 60px;
    background-color: #E5E5E5;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#h3-section-2{
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #ff4081
}

#p1-section-2{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 0px 70px 0px 70px;
}

#p2-section-2{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    padding: 7px 12px 7px 12px;
    width: 200px;
}

/*Section-3*/

.section-3{
    padding: 80px 60px 80px 60px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.section-3 > h2{
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
}

.p1-section-3{
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.p2-section-3{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.section-3 > article{
    display: flex;
}

.img-section-3{
    display: flex;
}

/*Section-4*/

#background-section-4{
    background-color: #E5E5E5;
    padding: 0px 60px 80px 60px;
}

.section-4{
    display: flex;
    padding: 80px 60px 0px 60px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#h2-section-4{
    font-weight: 700;
    font-size: 37px;
    line-height: 50px;
    color: #009688;
    padding: 80px 60px 0px 60px;
}

#botao-section-4{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 300px;
    padding: 7px 12px 7px 12px;
}

#p-section-4{
    text-align: left;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    padding: 0px 0px 40px 0px;
}

#h3-section-4{
    text-align: left;
    font-weight: 700;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}

#caixa{
    text-align: left;
    background-color: #C4C4C4;
    width: 300px;
    height: 200px;
}

/*Footer*/

.footer{
    display: flex;
    background-color: #419488;
    justify-content: space-between;
    padding: 40px 150px 20px 80px;
    align-items: center;
}

.footer > ul{
    list-style: none;
}

.footer > ul >li{
    padding: 0px 0px 20px 0px;
}

.footer > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.botao-footer{
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    width: 500px;
    padding: 4px 30px 4px 30px;
}


/*Section-o-que-falam-sobre-nós*/

.testmony-container{
    padding: 60px;
}

.testmony-container h2{
    padding: 40px;
    font-weight: 700;
    font-size: 37px;
    line-height: 50.47px;
    color: #009688;
    padding-left: 100px;
}

.test-img{
    box-sizing: content-box;
    width: 76px;
    padding: 12px; /*corrigir*/
}

.testemony-text{
    display: flex;
    padding-left: 20px;
}

.grid{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-family: 18px;
    font-weight: 300;
    color: #000000;
}

.testemony-text p{
    margin-left: 50px;
    flex-direction: row;
    
}

.testemony-text span{
padding-top: 30px;
font-size: 18px;
font-weight: 500;
margin-top: 20px;

}