body {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
  }

/*Header*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: #2E948A;
    align-items: center;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.header > .nav{
    display: flex;
    list-style: none;
    padding: 0px 60px 0px 0px;
}

.header > .nav > li{
    padding: 0px 40px 0px 0px;
}

.header > .nav > li > a{
    text-decoration: none;
    color: #FDFDFD;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-transform: uppercase;
}

#img-header{
    padding: 15px 0px 15px 20px;
}

/*Section-1*/

#section-1{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 90px 0px;
}

#h1-section-1{
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    text-transform: capitalize;
    color: #FF4081;
    padding: 50px 0px 0px 0px;
    text-align: center;
}

#p-section-1{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9D9D9D;
    text-align: center;
    padding: 0px 0px 90px 0px;
}

#caixa{
    display: block;
    justify-content: center;
    background-color: #E5E5E5;
    width: 900px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}

#p1-section-1{
    display: block;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    width: 900px;
}

#h2-section-1{
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    color: #009688;
}

/*Section-2*/

#background-section-2{
    padding: 80px 60px 80px 60px;
    background-color: #E5E5E5;
}

.section-2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#h3-section-2{
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #ff4081
}

#p1-section-2{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding: 0px 70px 0px 70px;
}

#p2-section-2{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF4081;
    border-radius: 62px;
    padding: 7px 12px 7px 12px;
    width: 200px;
}

#h2-section-2{
    font-weight: 500;
    font-size: 37px;
    line-height: 57px;
    text-align: center;
    color: #FF4081;
}

/*Footer*/

.footer{
    display: flex;
    background-color: #419488;
    justify-content: space-between;
    padding: 40px 150px 20px 80px;
    align-items: center;
}

.footer > ul{
    list-style: none;
}

.footer > ul >li{
    padding: 0px 0px 20px 0px;
}

.footer > ul > li > a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.botao-footer{
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    width: 500px;
    padding: 4px 30px 4px 30px;
}
